<html class="paginaEditarArtigo">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <section class="paginaEditarArtigo">
        <h1 id="hEditarArtigo">Editar Artigo</h1>
        
        <%= render 'form', artigo: @artigo %>
        <div class="container"> 
                <div class="botaoVoltar col-md-6">
                <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Voltar'.html_safe, artigos_path, class:"botaoVoltar" %>
                </div>
                <div class="botoesMostrarExcluir">
                    <%= link_to '<i class="fa fa-eye fa-lg" aria-hidden="true"></i>'.html_safe, @artigo %>
                    <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>'.html_safe, @artigo, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>    
        </div>
        <div class="clear"></div>
   </section>
</html>