<html class="paginaNovoArtigo">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <section class="paginaNovoArtigo">
        <h1 class="hNovoArtigo">Novo Artigo</h1>
        
        <%= render 'form', artigo: @artigo %>
        
        <%= link_to 'Back', artigos_path %>
    </section>
</html>