// Place all the styles related to the Artigos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//artigos
.corpoArtigo{
    height: 100%;
}
.titulo h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.artigoData{
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}
.data{
  text-align: right;
}
.artigo{
//    font-family: 'Dosis', sans-serif;
//    font-size: 17px;
    all: unset;
    margin-left: 100px;
    margin-right: 100px;
}

.botaoEditar{
    margin-left: 40px;
    border: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.botaoVoltar{
    border: 1px solid #b4b4b4;
    padding: 10px 15px 10px 10px;
    font-size: 17px;
    border-radius: 5px;
}
//Pagina de criar/editar artigo
.field{
    
    text-align: center;
}
.editarTitulo{
    width: 950px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-bottom: 15px;
}
.editarSubtitulo{
    width: 950px;
    height: 25px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-bottom: 15px;
}
.fieldConteudo{
    margin: 0px 200px 20px 200px;
    text-align: center;
}
.actions{
    
    text-align: center;
}

















