// Place all the styles related to the Artigos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//artigos
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
.paginaArtigo{
   margin: 0px;
   background-size: cover;
}
#secaoArtigo{
    padding-bottom: 30px;
}
.corpoArtigo{
    height: 100%;
}
.titulo h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.artigoData{
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    padding: 7px 0px 7px 0px;
}
.criador{
    font-size: 15px;
    color: #b4b4b4;
    float: left;
}
.data{
    font-size: 15px;
    color: #b4b4b4;
    text-align: right;
}
.artigo{
    all: unset;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.botaoEditar{
    margin-left: 40px;
    border: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    
}
.botaoVoltar{
    border: 1px solid #b4b4b4;
    padding: 10px 15px 10px 10px;
    font-size: 17px;
    border-radius: 5px;
    
}
.botoesViewArtigo{
    text-align:center;
}
//Pagina de criar artigo
.paginaNovoArtigo{
    background-color: #F5F5F5;
    margin: 0px;
}
.field{
    
    text-align: center;
}
.novoTitulo{
    width: 950px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.novoSubtitulo{
    width: 950px;
    height: 25px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-bottom: 15px;
}
.fieldConteudo{
    margin: 0px 200px 20px 200px;
    text-align: center;
}
.actions{
    
    text-align: center;
}
.hNovoArtigo{
    margin: 40px 0px 10px 200px;
    font-family: 'Montserrat', sans-serif;
}

//Pagina principal de artigos
#paginaArtigos{
    padding-bottom: 30px;
}
#tituloPaginaArtigos{
    text-align: center;
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    font-weight: lighter;
    border-top: double black;
    border-bottom: double black;
    padding: 40px 0px 40px 0px;
}
.divBotao{
    text-align: center;
}
.botaoNovoArtigo{
    text-decoration: none;
    color: #06c;
    border: 4px solid #06c;
    border-color: #06c;
    padding: 10px 10px 10px 10px;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    transition: 1.5s;
    background: linear-gradient(to left, white 50%, #06c 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.botaoNovoArtigo:hover{
    transition: 1.5s;
    color: white;
    background-position: left bottom;
    text-decoration: none;
    
}
.classe{
    width: 50%;
}
.artigosTitulo{
    float: left;
}
//Pagina de editar artigo
.paginaEditarArtigo{
    background-color: #F5F5F5;
    margin: 0px;
}
#hEditarArtigo{
    margin: 40px 0px 10px 200px;
    font-family: 'Montserrat', sans-serif;
}















