.home-container {
    border-radius: 3px;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home-box {
    border-bottom: 1px solid #b4b4b4;
    line-height: 200%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.home-date {
    float: right;
}

.home-container h2 {
    text-align: center;
}

.home-container h3 {
} 
