.editBG {
    background-color: #f5f5f5;
    padding-top: 40px;
}

.post-button {
    border: 1px solid #b4b4b4;
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: white;
    transition: 2s;
}

.post-reset-margin {
    margin-left: 0;
}

.postTitulo{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.editTitulo{
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.editBox{
    margin: 20px 200px;
    text-align: center;
}

.editContainer {
    margin: 15px 110px;
}
