.post-button {
    border: 1px solid #b4b4b4;
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: white;
    transition: 2s;
}

.post-reset-margin {
    margin-left: 0;
}