.post-button {
    border: 1px solid #b4b4b4;
    padding: 7px 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color: white;
    transition: 2s;
}

.post-reset-margin {
    margin-left: 0;
}

.postTitulo{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0;
}


.editBox{
    margin: 20px 200px;
    text-align: center;
    height: 400px;
}
