<div class="editBG">
  <h1 class="editTitulo">Editar Post</h1>

  <%= render 'form', post: @post %>
  <div class="editContainer"> 
      <div class="botaoVoltar col-md-6">
          <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Voltar'.html_safe, posts_path, class:"botaoVoltar" %>
      </div>
      <div class="botoesMostrarExcluir">
          <%= link_to '<i class="fa fa-eye fa-lg" aria-hidden="true"></i>'.html_safe, @post %>
          <%if @current_user.is_adm==true %>
            <%= link_to '<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>'.html_safe, @post, method: :delete, data: { confirm: 'Tem certeza?' } %>
          <%end%>
      </div> 
  </div>
</div>