<% provide(:title, "Posts") %>
<section id=paginaArtigos>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

<h1 class="tituloPaginasIndex">Posts</h1>
 

<div class="col-md-12 divBotao">
  <%= link_to 'Novo Post', new_post_path, class:" botaoNovoArtigo" %>
</div>

 <div class="container sumarioArtigos">
  <% @postpaginate.each do |post1| %>
    <% if post1.post_id == nil %>    
      <%if VotosPost.joins(:post).where(post_id:post1.id).where(votoPost:false).count()<10 or @current_user.is_adm==true%> <!-- esconder com 10 neg-->

          <div class="col-md-6 x">
            <h3 id="artigosTitulo"><%= link_to post1.titulo, post1 %></h3>
            <div class="col-md-6 sumarioData">
              <%= post1.data.strftime("%d/%m/%Y às %H:%M") %>
            </div>
          </div>
      <% end %>
    <% end %>  
  <% end %>
  </div>
</div>

<%= will_paginate @postpaginate,:previous_label => '<<',:next_label => '>>', class:"col-md-12 mudancaPaginaArtigo" %>

<div class="clear"></div>
</section>


