<% provide(:title, "Novo Post") %>
<html class="paginaNovoArtigo">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <section class="paginaNovoArtigo">
        <h1 class="postTitulo">Novo Post</h1>
        
        <%= render 'form', post: @post %>
        <div class="botaoVoltar">
        <%= link_to '<i class="fa fa-long-arrow-left" aria-hidden="true"></i>Voltar'.html_safe, posts_path, class:"botaoVoltar" %>
        </div>
    </section>
</html>