<html class="paginaNovoArtigo">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <section class="paginaNovoArtigo">
        <h1 class="postTitulo text-center">Novo Post</h1>
        
        <%= render 'form', post: @post %>
        
        <%= link_to 'Back', posts_path %>
    </section>
</html>